@import '../../shared/shared-style.css';
.classmates-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  align-items: center;
}
.profile-src {
  cursor: pointer;
  opacity: .9;
  transition: all linear .3s;
  margin-top: 30px;
  text-align: center;
  width: 133px;
}
.profile-src:hover {
  color: #68b3c8;
  opacity: 1;
}
.avatar{
  margin:0 auto;
  background-color: #ccc;
  height:60px;
  width:60px;
  border-radius:30%;
  overflow:hidden;
}
.classmates-list{
  display:flex;
 flex-wrap:wrap;
}
.search{
  width:60%;
  margin-bottom:30px;
}
.search-width{
  width:80%;
}
.search-btn {
  width: 20%;
}
.classmates {
  width: 100%;
  min-height: 300px;
}
