
<div class="classmates-container">
  <div class="search">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="search-width">
          <input matInput placeholder="Поиск">
        </mat-form-field>
        <button type="button"
                mat-raised-button color="primary"
                class="search-btn">
          Найти
        </button>
      </mat-card-content>
    </mat-card>
  </div>
 
  
  <mat-card class="classmates">
    <mat-card-header >
      <mat-card-title>Одногруппники</mat-card-title>
     </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="classmates-list">
        <div *ngFor="let person of Classmates;" class="profile-src">
          <img [src]="person.Thumbnail.Url | safe" class="avatar" />
          <div class="text-center">
            <a [href]="'/profile/'+person.Id" class="link">{{person.FirstName}} {{person.LastName}} </a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>
