<div class="search-container">
  <mat-accordion class="search-filters">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Фильтры поиска
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        
        <mat-horizontal-stepper linear="true" #stepper>
                 
            <mat-step [stepControl]="selectForm">
              <form [formGroup]="selectForm">
                <ng-template matStepLabel>Выбрать кого искать</ng-template>
                <mat-form-field>
                  <mat-select placeholder="Кого ищем" formControlName="selectPerson" required>
                    <mat-option *ngFor="let person of Persons" [value]="person">
                      {{person}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                
                <div>
                  <button mat-raised-button matStepperNext>Дальше</button>
                </div>
              </form>
            </mat-step>              
            <mat-step>
              <form [formGroup]="httpForm">
                <ng-template matStepLabel>Настройка поиска</ng-template>
                <div class="filters" *ngIf="isStudent">
                  <div class="left-column">
                    <div>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Имя" formControlName="FirstName">
                      </mat-form-field>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Фамилия" formControlName="LastName">
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-select placeholder="Факультет" formControlName="Faculties">
                          <mat-option *ngFor="let fac of Faculties" [value]="fac">
                            {{fac.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div *ngIf="CurrentFaculty!=null">
                      <mat-form-field>
                        <mat-select placeholder="Направление" formControlName="FacultySections" panelClass="custom-select">
                          <mat-option *ngFor="let sect of CurrentFaculty.FacultySections" [value]="sect" class="select">
                            {{sect.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="right-column">
                    <div>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Город" formControlName="City">
                      </mat-form-field>
                    </div>
                    <div>
                      <div>Дата рождения:</div>
                      <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="ot" placeholder="От" formControlName="DOBstart">
                        <mat-datepicker-toggle matSuffix [for]="ot"></mat-datepicker-toggle>
                        <mat-datepicker #ot></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="do" placeholder="До" formControlName="DOBend">
                        <mat-datepicker-toggle matSuffix [for]="do"></mat-datepicker-toggle>
                        <mat-datepicker #do></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="buttons">
                  <button mat-raised-button color="primary" (click)="Search()">Искать</button>
                  <button mat-raised-button color="warn" (click)="Search()">Обнулить фильтр</button>
                </div>
                
                <div>
                  <button mat-button matStepperPrevious>Назад</button>
                </div>
              </form>
            </mat-step>

        </mat-horizontal-stepper>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <div class="search-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Результаты поиска: </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="teachers-list">
        
        <div *ngIf="isSearch">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
        <div *ngIf="!isSearch && Students==null">
          Ничего не найденно
        </div>
        <div *ngIf="Students!=null" class="teachers-list">
          <div *ngFor="let stud of Students" class="teachers-list-item">
            <img class="teacher-avatar" [src]="stud.Thumbnail.Url | safe" />
            <div class="teacher-short-info">
              <div class="teacher-name">{{stud.LastName}} {{stud.FirstName}} {{stud.SecondName}}</div>
              <div>{{stud.Group.Name}}</div>
              <a mat-raised-button color="primary" [href]="'profile'+stud.Id"> Профиль</a>

            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
