.proj-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.proj-card{
  width:90%;
}
.proj {
  display: flex;
  flex-wrap: wrap;
}
.proj>div{
  width:50%;
}
.full-width{
  width:100%;
}
.left-column {
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
.right-column {
  padding: 20px;
  box-sizing: border-box;
}
.doc-form {
  border-bottom: 1px solid #ccc;
  padding-bottom:30px;
}
.doc-item{
  padding:5px 20px;
}
.betw{
  display:flex;
  justify-content:space-between;
}
.betw>button{
  height:40px;
}
.isshow{
  padding:20 0px;
}
.isshow-title {
  font-weight: 600;
}
.doc-title{
  max-width:300px;
  margin-right:30px;
}
.cbtn{
  height:40px;
}
.betw1{
  display:flex;
  justify-content:flex-end;
}

