<h1 mat-dialog-title>Редактировать проект</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Название"
             formControlName="Name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Ссылка на гит"
             formControlName="Git">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput
                placeholder="Короткое описание"
                formControlName="ShortDesc"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput
                placeholder="Полное описание"
                formControlName="LongDesc"></textarea>
    </mat-form-field>
    <input id="lk-upload-thumb-project" type="file" hidden>
  </form>
  <button mat-raised-button color="primary">
    <label for="lk-upload-thumb-project">Загрузить превью</label>
  </button>

</div>
<div mat-dialog-actions class="dialog-act">
  <button mat-raised-button color="warn" (click)="close()">Удалить</button>
  <button mat-raised-button color="primary" (click)="close()">Отмена</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="changedProject" cdkFocusInitial>Сохранить</button>
</div>
