<button (click)="test()">xdfgfhfgh</button>
<div *ngIf="Profile!=null">
  <div class="profile-container" >
    <div class="profile-left-column">


      <mat-card class="custom-card">
        <img mat-card-image [src]="Profile.Student.Thumbnail.Url | safe">
        <mat-card-actions>
          <input type="file" *ngIf="isChanged" />
        </mat-card-actions>
      </mat-card>
      <a [href]="'/portfolio/'+Profile.Student.Id" 
              mat-raised-button color="primary"
              class="change-btn"            
              *ngIf="Profile.Student.Config.Portfolio">
        Партфолио
      </a>

    </div>
    <div class="profile-right-column">
      <mat-card class="">
        <div class="about-list">
          <div>
            <p class="about-title">Имя:</p>
            <p>
              {{Profile.Student.LastName}} {{Profile.Student.FirstName}} {{Profile.Student.SecondName}}
            </p>
          </div>
          <div *ngIf="Profile.Student.Config.Faculty">
            <p class="about-title">Факультет:</p>
            <p>
              {{Profile.Student.Group.FacultySection.Faculty.Name}}
            </p>
          </div>
          <div *ngIf="Profile.Student.Config.FacultySection">
            <p class="about-title">Направление:</p>
            <p>
              {{Profile.Student.Group.FacultySection.Name}}
            </p>
          </div>
          <div *ngIf="Profile.Student.Config.Course">
            <p class="about-title">Курс:</p>
            <p>
              {{Profile.Student.Group.Course}}
            </p>
          </div>
          <div *ngIf="Profile.Student.Config.Group">
            <p class="about-title">Группа: </p>
            <p>
              {{Profile.Student.Group.Name}}
            </p>
          </div>
          <mat-accordion *ngIf="Profile.Student.Config.ExtraInfo">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Дополнительная информация
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="lk-profile" *ngIf="Profile.Student.Config.City">
                <p class="about-title">Город: </p>
                <p>
                  {{Profile.Student.City}}
                </p>
              </div>
              <div class="lk-profile" *ngIf="Profile.Student.Config.DOB">
                <p class="about-title">Дата рождения: </p>
                <p>
                  {{DOB}}
                </p>
              </div>
              <div class="lk-profile" *ngIf="Profile.Student.Config.Skills">
                <p class="about-title">Навыки: </p>

                <div *ngFor="let sk of Profile.Student.StudentSkills;" class="certificates-list-item">
                  <button mat-raised-button>{{sk.Skill.Name}}</button>
                </div>

              </div>
              <div class="lk-profile" *ngIf="Profile.Student.Config.About">
                <p class="about-title">Обо мне: </p>
                <p>
                  {{Profile.Student.About}}
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="public-profile-certificates"
       *ngIf="Profile.Student.Config.Certificates">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="accord-title-cert">
            Сертификаты
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content class="certificates-list">

          <div *ngFor="let certificate of currentCertificates; let i=index" class="certificates-list-item">
            <img class="teacher-avatar"
                 [src]="certificate.Image.Url | safe"
                 (click)="openImage(certificate.Image.Url)" />
            <div class="cert-short-info">
              <div class="cert-name">{{certificate.Name}}</div>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <mat-paginator class="custom-paginator"
                         [length]="Profile.Certificates.length"
                         [pageSize]="pageSize"
                         (page)="pageEvent = $event">
          </mat-paginator>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


