
<div class="profile-container" >
  <div class="profile-left-column">
    <button type="button"
            mat-raised-button color="primary"
            class="change-btn"
            *ngIf="!isChanged"
            (click)="ChangeProfile()">
      Редактировать
    </button>
    <button type="button"
            mat-raised-button color="primary"
            class="change-btn"
             *ngIf="isChanged"
            (click)="UpdateStud()">
      Сохранить
    </button>
    <!--<button type="button"
            mat-raised-button color="primary"
            class="change-btn"
            *ngIf="isChanged"
            (click)="ChangeProfile()">
      Сохранить
    </button>-->

    <mat-card class=" custom-card">
      <img mat-card-image [src]="data.ThumbnailSrc | safe">
      <mat-card-actions>
        <input type="file" *ngIf="isChanged" />
      </mat-card-actions>
    </mat-card>
    <mat-accordion class="lk-last-projects">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Последние проекты
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let project of LastProjects" class="lk-profile-form">
            <div class="prname">{{project.Name}}</div>
            <a mat-raised-button color="primary" color="primary" href=""> Подробнее</a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="profile-right-column">
    <mat-card class="">
      <div class="about-list">
        <div>
          <div class="about-title">Имя:</div>
          <div class="about-content">
            {{Student.LastName}} {{Student.FirstName}} {{Student.SecondName}}
          </div>

        </div>
        <div>
          <div class="about-title">Факультет:</div>
          <div class="about-content">
            {{Student.Group.FacultySection.Faculty.Name}}
          </div>
          <mat-slide-toggle class="config-toggle"
                            color="primary"
                            [(ngModel)]="Student.Config.Faculty"
                            *ngIf="isChanged">
          </mat-slide-toggle>
        </div>
        <div>
          <div class="about-title">Направление:</div>
          <div class="about-content">
            {{Student.Group.FacultySection.Name}}
          </div>
          <mat-slide-toggle class="config-toggle"
                            color="primary"
                            [(ngModel)]="Student.Config.FacultySection"
                            *ngIf="isChanged">
          </mat-slide-toggle>
        </div>
        <div>
          <div class="about-title">Курс:</div>
          <div class="about-content">
            {{Student.Group.Course}}
          </div>
          <mat-slide-toggle class="config-toggle"
                            color="primary"
                            [(ngModel)]="Student.Config.Course"
                            *ngIf="isChanged">
          </mat-slide-toggle>
        </div>
        <div>
          <div class="about-title">Группа: </div>
          <div class="about-content">
            {{Student.Group.Name}}
          </div>
          <mat-slide-toggle class="config-toggle"
                            color="primary"
                            [(ngModel)]="Student.Config.Group"
                            *ngIf="isChanged">
          </mat-slide-toggle>
        </div>
        <div *ngIf="isChanged" class="addskil">
          <mat-form-field class="full-width">
            <input matInput placeholder="Название навыка" [(ngModel)]="newSkillName">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="AddNewSkill()">Добавить</button>
        </div>
        <div>
          <div class="about-title">Навыки: </div>
          <div class="about-content">
            <button mat-stroked-button
                    *ngFor="let skill of Student.StudentSkills">
              {{skill.Skill.Name}}
            </button>
          </div>
          <mat-slide-toggle class="config-toggle"
                            color="primary"
                            [(ngModel)]="Student.Config.Skills"
                            *ngIf="isChanged">
          </mat-slide-toggle>
        </div>

        <mat-accordion class="extraInfo">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Дополнительная информация
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="lk-profile-form">
              <mat-form-field class="full-width">
                <input matInput placeholder="Город" [(ngModel)]="Student.City" [disabled]="!isChanged">
              </mat-form-field>
              <mat-slide-toggle class="example-margin"
                                color="primary"
                                [(ngModel)]="Student.Config.City"
                                *ngIf="isChanged">
              </mat-slide-toggle>
            </div>
            <div class="lk-profile-form">

              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="dob" placeholder="Дата рождения" [(ngModel)]="Student.DOB" [disabled]="!isChanged">
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
              </mat-form-field>
              <mat-slide-toggle class="example-margin"
                                color="primary"
                                [(ngModel)]="Student.Config.DOB"
                                *ngIf="isChanged">
              </mat-slide-toggle>
            </div>

            <div class="lk-profile-form">
              <mat-form-field class="full-width">
                <mat-label class="test-label">Обо мне</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="5"
                          [disabled]="!isChanged"
                          [(ngModel)]="Student.About"></textarea>
              </mat-form-field>
              <mat-slide-toggle class="example-margin"
                                color="primary"
                                [(ngModel)]="Student.Config.About"
                                *ngIf="isChanged">
              </mat-slide-toggle>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
</div>

