<div class="lk-sidebar">
  <div class="lk-sidebar-wrapper">     
      <button mat-button color="primary" routerLink="profile" routerLinkActive="active">
        Мой профиль
      </button>
      <button mat-button color="primary" routerLink="classmates" routerLinkActive="active">
        Одногрупники
      </button>
      <button mat-button color="primary" routerLink="teachers" routerLinkActive="active">
        Преподователи
      </button>
      <button mat-button color="primary" routerLink="portfolio" routerLinkActive="active">
        Проекты
      </button>
      <button mat-button color="primary" routerLink="certificates" routerLinkActive="active">
        Сертификаты
      </button>
  </div>
</div>
