@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background-color: #EDE7F6;
  margin:0;
}
.tile-contents-top > figure.mat-figure {
  align-items: flex-start !important;
  padding: 10px;
}
.tile-contents-top-column > figure.mat-figure {
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 30px;
}
.lk-profile-form > .mat-list-item-content {
  display: flex;
  justify-content: space-between !important;
}
.custom-select {
  max-width: none !important;
} 
